- unless local_assigns.has_key? :check_role
  - check_role = true

- unless local_assigns.has_key? :mode
  - mode = nil

- if message.status == 'user'
  .message{class: ('liked' if message.liked?), id: dom_id(message)}
    %p{class: ('me_msg' if check_role && current_user == message.author)}
      = message.content
      %br
      = message.created_at.strftime("%Y/%m/%d %H:%M")
      - if mode == 'review'
        %br
        = link_to 'Like', like_message_path(message), class: 'like_button like_status_css', method: :post, remote: true
        = link_to 'Unlike', unlike_message_path(message), class: 'unlike_button', method: :delete, remote: true
- else
  %p.status_msg= message.content