.msg{data: { chat_id: chat.id} }
  = simple_format chat.first_message.try(:content), class: 'first_message'
  - if chat.messages.size > 1
    .last_sentence
      - if chat.last_message_from_requester
        %blockquote= parse_emoji(chat.last_message_from_requester)
      - if chat.last_message_from_responder
        %blockquote= parse_emoji(chat.last_message_from_responder)

  = timeago(chat.created_at)
  - unless chat.started? || chat.finished?
    = link_to 'Pickup', responder_chat_path(chat), class: 'btn pickup btn-success'
