- content_for :head do
  = javascript_include_tag 'index'

- if current_user
  .intro_msg
    - if current_user.helped_questions.size > 0
      %p<
        You helped
        %b #{ current_user.helped_questions.size }
        fellow knojoers and your answers received
        %b #{ current_user.received_likes_count }
        likes.
  %h3 Ask

  = simple_form_for @chat do |f|
    = hidden_field_tag(:socket_id)
    = f.simple_fields_for :messages do |message_form|
      = message_form.input :content, as: :text,
        input_html: { placeholder: "What's your question?", class: 'initial_question_input', rows: 5 },
        label: false,
        required: true
    = f.button :submit, 'Ask Anonymously', class: 'btn-primary ask_btn'

  - if @recent_chats.size > 0
    = render 'dashboard'

  .notification_setup_container
    = label_tag 'notifications' do
      = check_box_tag 'notifications'
      Desktop Notifications
