- content_for :head do
  = javascript_include_tag 'index'

- if current_user
  .clearfix
    = link_to 'Ask a question', ask_path, class: 'btn btn-primary ask_btn'
  - if @recent_chats.size > 0
    = render 'dashboard'

  .notification_setup_container
    = label_tag 'notifications' do
      = check_box_tag 'notifications'
      Desktop Notifications
