- content_for :head do
  = javascript_include_tag 'index'

- if current_user
  .alert.alert-info{ data: { type: 'initial-alert' } }
    Hello, please keep this window open at anytime in order to receive desktop notifications.
    %button.close ×
  .alert.alert-block.hidden{ data: { type: 'no-user-alert' } }
    Currently there is no one else on Knojoe. Keep this window open and wait until someone joins.
    %button.close ×
  :javascript
    (function () {
      function check(dataType) {
        var alert = $('.alert[data-type="' + dataType + '"]');
        var key = alert.data('type');
        if ((window.localStorage) && (window.localStorage.getItem('knojoe:' + key))) {
          alert.remove();
        }
      }
      check('initial-alert');
      check('no-user-alert');
    }())
  %h4
    %strong Request
    a 3 min conversation!

  #new_chat_container
    = simple_form_for @chat, html: { class: 'clearfix new_chat' } do |f|
      %i.arrow
      = hidden_field_tag(:socket_id)
      = f.simple_fields_for :messages do |message_form|
        = message_form.input :content, as: :text,
          input_html: { placeholder: "Ask something...", class: 'initial_question_input', rows: 5 },
          label: false,
          required: true

      .form_footer
        %label
          = check_box_tag '', '', true, disabled: true
          Anonymously
        = f.button :submit, 'Start', class: 'btn-primary'

    %span#available_member_count ...
    fellow Knojoer(s) are online.


  - if @recent_chats.size > 0
    = render 'dashboard'

  .notification_setup_container
    = label_tag 'notifications' do
      = check_box_tag 'notifications'
      Desktop Notifications
