= content_for(:head) do
  = javascript_include_tag 'http://js.pusher.com/1.12/pusher.min.js'

.row
  .span6.offset3
    %h2 #{@chat.village.name} Village
    #messages= render @messages

    = render 'message_form'
