.row
  .span6.offset3
    = render 'chat'

    = link_to 'Thank you and exit', '#', class: 'btn btn-danger finish_button'

:javascript
  var CONNECTION_TIMEOUT_LIMIT = 30 * 1000;
  var connectionTimer = setTimeout(function(){
    sendConnectionTimeup();
  }, CONNECTION_TIMEOUT_LIMIT);

  var CHAT_TIMEOUT_LIMIT = 3 * 60 * 1000;
  var CHAT_TIMEOUT_WARNING = 10 * 1000;
  var chatTimer = setTimeout(function(){

    setInterval( function () {
      sendChatTimeup();
    }, CHAT_TIMEOUT_WARNING);

  }, CHAT_TIMEOUT_LIMIT);


  // Enable pusher logging - don't include this in production
  Pusher.log = function(message) {
    if (window.console && window.console.log) window.console.log(message);
  };

  // Flash fallback logging - don't include this in production
  WEB_SOCKET_DEBUG = true;

  var pusher = new Pusher('13ea71fd49c7de808650');
  var channel = pusher.subscribe("channel_chat_#{@chat.id}");
  channel.bind('chat_event', function(data) {

    if (data.author_id == #{current_user.id}) {
      $(data.html).addClass('me_msg').appendTo('#messages');
    } else {
      $(data.html).appendTo('#messages');
    }

    if (window.Cocoa) {
      Cocoa.log(data.message);
    }
  });

  channel.bind('chat_status_event', function(data) {
    // when villager joins
    insertStatusMessage(data);
    if (connectionTimer !== undefined) {
      clearTimeout(connectionTimer);
      connectionTimer = undefined;
    };
  });

  function sendConnectionTimeup() {
    $.ajax({
      url: "#{connection_timeout_chat_path(@chat)}",
      type: "post",
      success: function() {
        $('<p>No one picked up.</p>').addClass('status_msg').appendTo('#messages');
      },
      error: function(error) {
        console.error(error);
      }
    });
  };

  function sendChatTimeup() {
    $.ajax({
      url: "#{chat_timeout_chat_path(@chat)}",
      type: "post",
      success: function() {
        // $('<p>No one picked up.</p>').addClass('status_msg').appendTo('#messages');
      },
      error: function(error) {
        console.error(error);
      }
    });
  };

  function insertStatusMessage(message) {
    $('<p>' + message + '</p>').addClass('status_msg').appendTo('#messages');
  }

  $('.finish_button').click(function(e) {
    e.preventDefault();

    var thankyouMessage = prompt('Please say thank you to the villager');
    // after guest enter the 'thank you' message
    $.ajax({
      url: "#{finish_chat_path(@chat)}",
      type: "post",
      data: { message: thankyouMessage },
      success: function() {
        window.location = "#{review_chat_path(@chat)}";
      },
      error: function(error) {
        console.error(error);
      }
    });
  });