= render 'chat'
= link_to 'Exit', '#', id: 'exit_chat', class: 'btn btn-danger'

:javascript
  var chatTimerOffset = #{ @chat.started_offset(-1) };

  var channel = pusher.subscribe("channel_chat_#{@chat.id}");
  channel.bind('chat_event', function(data) {

    if (data.author_id == #{current_user.id}) {
      $(data.html).addClass('me_msg').appendTo('#messages');
    } else {
      $(data.html).appendTo('#messages');
      removeTypingIndicator();
    }

  });

  channel.bind('chat_status_event', function(data) {
    if (data && data.html) {
      $('#messages').append(data.html);
      removeTypingIndicator();

      if (data.type === 'finish') {
        $('#message_content, .send_btn').attr('disabled','disabled')
      }
    }
  });

  function removeTypingIndicator() {
    $('#typing_msg').remove();
  }

  function initTimer(offset) {
    timer = K.Timer(offset);
    timer.start();
    timer.promise().progress( function (value) {
      updateTimerUI(value);
     });

    timer.promise().done( function (value) {
      updateTimerUI(value);
    });
  }

  jQuery(function($) {

    if (chatTimerOffset !== -1) {
      initTimer(chatTimerOffset);
    }

    $("#exit_chat").on('click', function(e){
      e.preventDefault();
      $.ajax({
        url: "#{finish_chat_path(@chat)}",
        type: "post",
        data: { message: 'Responder exited.' },
        success: function() {
          window.location = "/";
        },
        error: function(error) {
          console.error(error);
        }
      });
    });
  });
