%h3 The conversation is finished.
%p Please 'Like' the parts that were helpful.

#messages.review_mode= render @messages, mode: 'review'

%h4 Email me the chat log
= form_tag email_chat_path(@chat) do
  = email_field_tag :email, current_user.email
  = submit_tag 'Send', class: 'btn'

= link_to 'Back', root_path, class: 'btn btn-primary'
