%h3 The conversation is finished.
%p Please 'Like' the parts that were helpful.

#messages.review_mode= render @messages, mode: 'review'

%h4 Email me the chat log
= simple_form_for :review, url: email_chat_path(@chat), html: { class: 'form-horizontal' } do |f|
  = f.input_field :email, value: current_user.masked_email
  = f.submit 'Send', class: 'btn'

= link_to 'Back', root_path, class: 'btn btn-primary'
