!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "Knojoe"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    - if content_for?(:head)
      = content_for(:head)

  %body{ :class => absolute_css_classes }
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to root_url(subdomain: false), class: 'brand' do
            = image_tag 'knojoe_logo_09.png', alt: 'Knojoe', class: 'logo'
          .container.nav-collapse
            %ul.nav
              %li= link_to "Ranking", users_path
              - if signed_in?
                %li
                  = link_to asked_user_path(current_user), rel: 'tooltip', title: 'Asked questions', data: { placement: 'bottom' } do
                    %i.icon-bullhorn
                    %strong #{ current_user.asked_questions.size }
                %li
                  = link_to helped_user_path(current_user), rel: 'tooltip', title: 'Helped questions', data: { placement: 'bottom' } do
                    %i.icon-heart
                    %strong #{ current_user.helped_questions.size }
            %ul.nav.pull-right
              - if signed_in?
                %li.dropdown
                  = link_to '#', class: 'dropdown-toggle', 'data-toggle' => 'dropdown' do
                    = image_tag current_user.image, size: '24x24', class: 'avatar_tiny'
                    = current_user.name
                  %ul.dropdown-menu
                    %li= link_to 'My page', current_user
                    %li= link_to 'Edit Page', '#'
                    %li= link_to 'Sign out', logout_path
              - else
                %li= link_to "Sign in", login_path

    .container_narrow
      = bootstrap_flash
      = yield

      %footer
        - if content_for?(:footer)
          = content_for(:footer)
        %p &copy; Knojoe 2012

  = audio_tag("/assets/bell-sound.mp3", preload: 'auto', id: 'notification_sound')
